a:hover {
    text-decoration: none;
}

.header-bar {
  border-bottom: 1px solid #B9BCC0;
  padding: 16px 0 0;
}

.section-header {
  color: #6F7378;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}

 .button-primary {
	 font-size: 12px;
	 margin: 0 0 0 12px;
	 border-radius: 5px;
	 background-color: #fff;
	 border: 1px #000 solid;
	 color: #000;
	 display: inline-block;
	 font-weight: 700;
	 height: 40px;
	 line-height: 40px;
	 min-width: 88px;
	 max-width: 440px;
	 padding: 0 24px;
	 text-align: center;
	 text-decoration: none;
	 text-transform: capitalize;
	 vertical-align: middle;
	 white-space: nowrap;
}
 .button-primary:hover, .button-primary:active, .button-primary:focus, .button-primary.focus {
	 background-color: #feffff;
	 border-color: #000;
	 color: #000;
	 text-decoration: none;
}
 .button-primary.small {
	 height: 32px;
	 line-height: 32px;
	 min-width: 64px;
	 max-width: 224px;
	 padding: 0 16px;
}
 .button-secondary {
	 border-radius: 5px;
	 background-color: #fff;
	 border: 1px #c86dd7 solid;
	 color: #c86dd7;
	 display: inline-block;
	 font-weight: 700;
	 height: 40px;
	 line-height: 40px;
	 min-width: 88px;
	 max-width: 440px;
	 padding: 0 24px;
	 text-align: center;
	 text-decoration: none !important;
	 text-transform: capitalize;
	 vertical-align: middle;
	 white-space: nowrap;
}
 .button-secondary:hover, .button-secondary:focus {
	 background-color: #fff;
	 border-color: #ba53d7;
	 color: #ba53d7;
	 text-decoration: none;
}
 .button-secondary.small {
	 height: 32px;
	 line-height: 32px;
	 min-width: 64px;
	 max-width: 224px;
	 padding: 0 16px;
}
 .button-secondary.alt-color {
	 background-color: #fff;
	 border: 1px #0093bf solid;
	 color: #0093bf;
}
 .button-secondary.alt-color:hover, .button-secondary.alt-color:focus {
	 background-color: #fff;
	 border-color: #008cbf;
	 color: #008cbf;
	 text-decoration: none;
}
