{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Bank Marketing{% else %}Bank Marketing{% endif %}
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="../static/styles/all.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Bank Marketing</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_anonymous %}
                    <li class="nav-item dropdown"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                    <li class="nav-item dropdown"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container mt-3">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="application/javascript" src="../static/scripts/jquery-3.3.1.min.js"></script>
    <script type="application/javascript" src="../static/scripts/bootstrap-table.min.js"></script>
    <script type="application/javascript" src="../static/scripts/Chart.min.js"></script>
    <script type="application/javascript" src="../static/scripts/custom-charts.js"></script>
{% endblock %}
