{% extends "base.html" %}

{% block app_content %}

    <div class="row mt-4">
        <div class="col-md-8">
            <h4 class="">Customer Import File</h4>
            <h5 class="text-muted">{{ customer_import_file.name }}</h5>
            <h6 class="text-muted">{{ customer_import_file.timestamp_local().strftime('%m/%d/%Y %I:%M %p') }}</h6>
        </div>
        <div class="col-md-4">
            <a class="btn button-primary float-right" href="{{ url_for('delete_customer_import_file', customer_import_file_id=customer_import_file.id) }}">Delete</a>
        </div>
    </div>

    <div class="row mt-2 mb-2">
        <div class="col-md-12">
            <div class="header-bar">
                <h2 class="section-header">Personal Loan Offers</h2>
            </div>
        </div>
    </div>

    <!-- Charts -->
    <div class="row mt-4">
        <div class="col-md-4 mt-2">
            <ul class="list-group">
                <li class="list-group-item list-group-item-heading">Overview</li>
                <li class="list-group-item">
                    {{ customer_import_file.customers_count() }}<br>
                    <small class="text-muted">Total Customers</small>
                </li>
                <li class="list-group-item">
                    {{ customer_import_file.count_predicted_to_accept_personal_loan() }}<br>
                    <small class="text-muted">Predicted to Accept</small>
                </li>
                <li class="list-group-item">
                    {{ customer_import_file.personal_loan_offers_with_response() }}%<br>
                    <small class="text-muted">Customers Responded to Offer</small>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="{{ customer_import_file.personal_loan_offers_with_response() }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ customer_import_file.personal_loan_offers_with_response() }}%;"></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="chart-container">
                <canvas id="stackedBarChart" height="125"></canvas>
            </div>
        </div>
    </div>

    <!-- Data table -->
    <div class="row mt-2 mb-2">
        <div class="col-md-12">
            <table id="table"
                   data-toolbar="#toolbar"
                   data-search="true"
                   data-pagination="true"
                   data-page-size="25"
                   class="table-sm">
                <thead>
                    <tr>
                        <th data-field="id" data-sortable="true">ID</th>
                        <th data-field="income" data-sortable="true">Income</th>
                        <th data-field="education" data-sortable="true">Education</th>
                        <th data-field="cc_avg" data-sortable="true">CC Avg</th>
                        <th data-field="family" data-sortable="true">Family</th>
                        <th data-field="cd_account" data-sortable="true">CD Account</th>
                        <th data-field="age" data-sortable="true">Age</th>
                        <th data-field="personal_loan_offer_prediction" data-sortable="true">Prediction</th>
                        <th data-field="personal_loan_offer_prediction_probability" data-sortable="true">Probability</th>
                        <th data-field="personal_loan_offer_response" data-sortable="true">Response</th>
                        <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents" data-searchable="false"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        let barChartData = {{ bar_chart_data|tojson|safe }}
        let stackedBarChartId = 'stackedBarChart';
        createBarChartForPersonalLoanOffersPredictedToBeAccepted(stackedBarChartId, barChartData)
    </script>

    <script>
        // Define the table
        let $table = $('#table');

        // Build the table
        $(function() {
            $table.bootstrapTable({data: {{ customers|tojson }}})
        });

        // Add buttons to each table row
        function operateFormatter(value, row, index) {
            let personal_offer_response_id = row['personal_loan_offer_id'];
            let personal_offer_response = row['personal_loan_offer_response'];
            let optNone = '<option value=""' + (personal_offer_response === '' ? ' selected' : '') + '></option>';
            let optAccepted = '<option value="Accepted"' + (personal_offer_response === 'Accepted' ? ' selected' : '') + '>Accepted</option>';
            let optDeclined = '<option value="Declined"' + (personal_offer_response === 'Declined' ? ' selected' : '') + '>Declined</option>';
            let personal_loan_offer_response_select_element = '<select id="responseSelector' + personal_offer_response_id + '" class="form-control">' + optNone + optAccepted + optDeclined + '</select>';

            let deleteBtn = '<a class="delete pr-3>" href="javascript:void(0)" title="Delete"><i class="fa fa-trash"></i></a>';

            let modalBtn = '<a class="edit pr-3" href="javascript:void(0)" data-toggle="modal" data-target="#responseModal' + personal_offer_response_id + '" title="Edit Response"><i class="fa fa-edit"></i></a>';

            let modal =
                '<div class="modal fade" id="responseModal' + personal_offer_response_id + '" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">\n' +
                '  <div class="modal-dialog" role="document">\n' +
                '    <div class="modal-content">\n' +
                '      <div class="modal-header">\n' +
                '        <h5 class="modal-title" id="exampleModalLabel">Edit Response</h5>\n' +
                '        <button type="button" class="close" data-dismiss="modal" aria-label="Close">\n' +
                '          <span aria-hidden="true">&times;</span>\n' +
                '        </button>\n' +
                '      </div>\n' +
                '      <div class="modal-body">\n' +
                        personal_loan_offer_response_select_element +
                '      </div>\n' +
                '      <div class="modal-footer">\n' +
                '        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>\n' +
                '        <button type="button" class="btn btn-primary save-response" data-dismiss="modal">Save</button>\n' +
                '      </div>\n' +
                '    </div>\n' +
                '  </div>\n' +
                '</div>';

            return modalBtn + deleteBtn + modal;
        }

        // Act on button clicks
        window.operateEvents = {
            'click .delete': function (e, value, row, index) {
                let customer_id = row['id'];

                $.post('/api/v1/delete_customer/' + customer_id, {
                }).done(function(response) {
                    $table.bootstrapTable('remove', {
                        field: 'id',
                        values: [row.id]
                    })
                }).fail(function() {
                    row['id'] = "Error: Could not contact server.";
                    $table.bootstrapTable('updateRow', {
                        index: index,
                        row: row
                    })
                });
            },
            'click .save-response': function (e, value, row, index) {
                let personal_loan_offer_id = row['personal_loan_offer_id'];
                let actual_response = document.getElementById("responseSelector" + personal_loan_offer_id).value;

                $.post('/api/v1/personal_loan_offer/' + personal_loan_offer_id, {
                    actual_response: actual_response
                }).done(function(response) {
                    row['personal_loan_offer_response'] = actual_response;
                    $table.bootstrapTable('updateRow', {
                        index: index,
                        row: row
                    });
                }).fail(function() {
                    row['personal_loan_offer_response'] = "Error: Could not contact server.";
                    $table.bootstrapTable('updateRow', {
                        index: index,
                        row: row
                    })
                });
            },
        };
    </script>
{% endblock %}
